
body{
    background:#FFFFFF;
    font-family: Helvetica, Arial;
}

a{
    text-decoration: none;
    color: mediumpurple;
}

h1, h2, h3{
    margin: 0;
}
#container{
    background-color:#FFECD9;
    width: 800px
    margin-left: auto;
    margin-right: auto;
}

#header{
    background-color: #CC9999;
    Color: white;
    text-align: centre;
    padding: 10px;
}
    
#content{
    padding: 10px;
}

#nav{
    width: 200px;
    float: left;
    font-size: 15px;
}

#nav ul{
    list-style-type: none;
    padding: 0px;
}

#nav .selected{
    font-weight: bold;
}

#main{
    width: 1250px;
    float: right;
}

#footer{
    clear:both;
    padding: 10px;
    background-color: #999999; 
    color: white;
    text-align: right;
}